<%= render 'layouts/messages' , object: f.object %>
<div class="form-group">
			<%= f.label :Nome %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :Email %>
			<%= f.email_field :email, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :Senha %>
			<%= f.password_field :password, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :Repita_Sua_Senha %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>