<nav class="navbar navbar-inverse navbar-static-top">

<div class="container-fluid">

    <div class="collapse navbar-collapse" id="expanded-menu">
    	<ul class="nav navbar-nav">
          <li class="active">
             <%= link_to 'Lista de Contatos', root_url, class: 'navbar-brand' %>
         </li>
      </ul>
      <ul class="nav navbar-nav">
          <li class="active">|</li>
      </ul>
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
         <li class="active">
             <%= link_to 'Nova Conta', new_user_path %>
   	     </li>
         <%end%>
      </ul>
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
          <li>
             <%= link_to 'Entrar', entrar_path %>
      		</li>
        <%else%>
              <li>
                <%= link_to 'Editar' , edit_user_path(current_user) %>
              </li>
              <li>
                <%= link_to 'Minha Página' , contacts_path %> 
              </li>
              <li>
                <%= link_to 'Sair', sair_path, method: :delete %> 
              </li>
            
       
        <%end%> 
      </ul>
    </div>

</div>

</nav>
